<div class="articlesAndAny">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item article-wrap">
        <%= link_to article.title, article %>
        <% if ( stack_count = article.stacks.count) > 0 %>
        <span class="pull-right label label-success label-as-badge">
          <%= stack_count %>
        </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<hr>

<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to '記事一覧', :articles %>
  </li>
</ul>

<hr>
<p>登録タグ一覧</p>
<% @tags.each do |tag| %>
<span class="label label-default top-tag-index">
  <%= link_to tag, tag_articles_path(tag) %>
</span>
<% end %>
