<p>Ziita</p>

<% if current_user %>
  <%= link_to 'ログアウト', :session, method: :delete %>
  <%= link_to 'user', user_root_path(identify_name: current_user.identify_name) %>
<% else %>
  <%= link_to 'ログイン', [ :new, :session ] %>
<% end %>
