<ul class="nav nav-pills">
  <li role="presentation">
    <%= link_to '記事一覧', :articles %>
  </li>
</ul>
<hr>
<p>登録タグ一覧</p>
<ul class="nav nav-pills">
  <% @tags.each do |tag| %>
    <li role="presentation">
      <%= link_to tag, tag_articles_path(tag) %>
    </li>
  <% end %>
</ul>
