<%= image_tag '/images/ziita2.png', size: '200x200', alt: "ziitaサムネイル",
  class: 'img-responsive' %>

<%= content_tag(:div, :style => "text-align:center;") do %>

  <p class="nicofont" style="margin-top:200px;">Ziita is OSS</p>
  <%= link_to image_tag('/images/GitHub.png',
    size: '200x200', alt: "Githubアイコン"), "https://github.com/totoman/ziita", class: 'img-responsive', style: 'margin-bottom:200px;' %>

  <p class="nicofont">Sponsor</p>
  <%= render 'shared/adsense' %>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <a href="http://totoman.github.io/" class="nicofont">Developer</p>
  <hr>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<% end %>
