<%= image_tag '/images/ziita2.png', size: '200x200', alt: "ziitaサムネイル",
  class: 'img-responsive' %>

<%= content_tag(:div, :style => "text-align:center;") do %>

  <p style="margin-top:200px;">ziita は OSS です。自由なサイトであり続けます。</p>
  <%= link_to image_tag('/images/GitHub.png',
    size: '200x200', alt: "Githubアイコン"), "https://github.com/totoman/ziita", class: 'img-responsive', style: 'margin-bottom:200px;' %>

  <p> スポンサー</p>
  <%= render 'shared/adsense' %>
  <br>
<% end %>

