<script type="text/javascript">
  $(document).ready(function(){
    var div = document.getElementById("flash_callback");
    if(div && window.opener){
      <% if @account %>
        window.close();
        window.opener.$.testFunc("/account_identity/new");
      <% elsif current_user %>
        window.close();
        window.opener.location.href = "/" + "<%= current_user.identify_name %>";
      <% else %>
        window.close();
        window.opener.location.href = "/auth/failure";
      <% end %>
    }
  });
</script>

<div id="flash_callback" style="color:red">
  <a href="#" onclick="window.close(); return false;">閉じる</a>
</div>
