<p>failure!</p>
<%= link_to "戻る", [ :new, :account ] %>

 <script type="text/javascript">
//   $(document).ready(function(){
//     var div = document.getElementById("flash");
//     if(div && window.opener){
//       window.close();
//     };
//   });
 </script>

<!-- <div id="flash" style="color:red"> -->
<!--   <a href="#" onclick="window.close(); return false;">閉じる</a> -->
<!-- </div> -->
