<h4><%= "#{actual_user.identify_name}さんのページです。" %></h4>

<ul class="nav nav-pills">
  <li role="presentation" class="">
    <%= link_to "投稿記事一覧", [ :user, :articles ] %>
  </li>
  <li role="presentation" class="">
    <%= link_to "アカウント情報", user_account_path(identify_name: actual_user.identify_name, id: actual_user.id) %>
  </li>
</ul>
