<% @page_title = actual_user.identify_name %>

<p><%= link_to "#{actual_user.identify_name}さんのトップへ", [ :user, :root ] %></p>

<ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item article-wrap">
      <%= link_to article.title, user_article_path(identify_name: actual_user.identify_name, id: article.id) %>
      <% if ( stack_count = article.stacks.count) > 0 %>
      <span class="pull-right label label-success label-as-badge">
        <%= stack_count %>
      </span>
      <% end %>
    </li>
  <% end %>
</ul>
