<% @page_title = actual_user.identify_name %>

<p><%= link_to '戻る', [ :user, :root ] %></p>

<ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item article-wrap">
      <%= link_to article.title, user_article_path(identify_name: actual_user.identify_name, id: article.id) %>
      <% if article.comments.count > 0 %>
      <span class="badge">
        <%= link_to "#{article.comments.count}", user_article_comments_path(
          identify_name: actual_user.identify_name, article_id: article.id) %>
      </span>
      <% end %>
    </li>
  <% end %>
</ul>
