<p><%= link_to '戻る', :articles %></p>

<ul class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <p><%= comment.name %></p>
      <%= hbr comment.body %>
      <p class="right-elm">
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      </p>
    </li>
  <% end %>
</ul>
