<%= form_for @article, url: :articles do |f| %>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-xs-8 col-xs-offset-2">
        <%= f.text_field :title, placeholder: "タイトル", autofocus: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row tweaked-margin">
    <!--
      <p style="border: 1px solid #F00; width:50%; height:40px; text-align:center"
        class="col-xs-5">入力</p>
      <p style="border: 1px solid #F00; width:50%; height:40px; text-align:center"
        class="col-xs-5">プレビュー</p>
      -->
    <h3 style="width:50%; height:40px; text-align:center"
      class="col-xs-5 border facebook leftline7">入力</h3>
    <h3 style="width:50%; height:40px; text-align:center"
        class="col-xs-5 border facebook leftline7">プレビュー</h3>
  </div>

  <div class="row tweaked-margin">
    <!--
    <p style="border: 1px solid #F00; width:50%; height:500px; text-align:center"
      class="col-xs-6">入力</p>
    -->

    <div class="col-xs-6">
      <%= f.text_area :body, placeholder: '本文', class: 'form-control preview-area' %>
    </div>

    <!--
    <p style="border: 1px solid #F00; width:50%; height:500px; text-align:center"
      class="col-xs-6">プレビュー</p>
    -->

    <div class="col-xs-6 preview">
      <div id="result" class="preview-area pre-scrollable article-wrap"></div>
    </div>
  </div>

  <div class="col-xs-offset-1 article-submit">
    <%= f.submit "作成", class: "btn btn-default col-xs-5" %>
  </div>
<% end %>
