Copyright ©2014 ziita.jp.
<div>
  <%= link_to "Ziitaとは", :ziita, class: "btn btn-facebook" %>
  <%= link_to "お問い合わせ", :inquiry, class: "btn btn-inquiry" %>
  <%= link_to "バグ報告", :bug_reports, class: "btn btn-inquiry" %>
  <%= render 'shared/share_button' %>
</div>
