@font-face {
  font-family: 'vera-mono';
  src: font-url('VeraMono.ttf');
}

ul.nav a:hover {
  color: #FFF !important;
}

#ziita {
  font-family: 'nicomoji', monospace;
  color: #FFF;
  margin-right: 20px;
}

label.col-xs-2 {
  margin-top: 7px;
}

.article-wrap {
  word-wrap: break-word;
}

.footer, .push {
  height: 155px;
}

.footer {
  border-top: solid 1px;
}

.articlesAndAny {
  overflow: scroll;
  height: 500px;
}
