@font-face {
  font-family: 'vera-mono';
  src: font-url('VeraMono.ttf');
}

ul.nav a:hover {
  color: #FFF !important;
}

#ziita {
  font-family: 'nicomoji', monospace;
  color: #FFF;
  margin-right: 20px;
}

.nicofont {
  font-family: 'nicomoji', monospace;
}

label.col-xs-2 {
  margin-top: 7px;
}

.article-wrap {
  word-wrap: break-word;
}

.footer, .push {
  height: 155px;
  width: 100%;
}

.footer {
  border-top: solid 1px;
}

.articlesAndAny {
  overflow: scroll;
  height: 500px;
}

.top-tag-index {
  display:block;
  float:left;
  margin:5px 0 0 2px;
  > a {
    color: white;
  }
}

.img-responsive {
  margin: auto;
}

.article-bottom-block-part {
  height: 55px;
  width: 50%;
  float: left;
  display:block;
  vertical-align: middle;
}

.article-bottom-block {
  overflow: hidden;
  height: 55px;
}
