@font-face {
  font-family: 'nicomoji';
  src: font-url('nicomoji_1.00.eot');
  src: font-url('nicomoji_1.00.eot?#iefix') format('embedded-opentype'),
  font-url('nicomoji_1.00.woff') format('woff'),
  font-url('nicomoji_1.00.ttf') format('truetype'),
  font-url('nicomoji_1.00.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
