<div class="page-header">
  <h1>バグ報告</h1>
</div>

<div style="margin-bottom:10px;">
  <%= link_to "バグ報告をする", :new_bug_report, class: 'btn btn-primary' %>
</div>

<ul class="list-group articles">
  <% @bug_reports.each do |report| %>
    <li class="list-group-item">
      「<strong><%= report.title %></strong>」<%= report.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if report.completable == true %>
        <span class="pull-right label label-success label-as-badge"> このバグは修正済みです。 </span>
        <br>
      <% end %>
      <hr>
      <%= hbr report.body %>
    </li>
  <% end %>
</ul>
