.preview-detail {
  margin-top: 20px;
}

.article-submit {
  margin-top: 20px;
  margin-left: 37%;
  > .btn {
    color: #FFF;
    background-color: #3B5998;
    border-color: #6D84B4;
  }
}

.footerNav {
  display: none;
  position: fixed;
  left: 16px;
  bottom: 16px;
  color: white;
  background-color: #3B5998;
  padding: 20px;
}
