body {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 200px;
  width: 100%;
}

.page-content-wrapper {
  min-width: 780px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.preview-area {
  width: 100%!important;
  height: 700px!important;
  border: solid 0.2em;
  border-color: #6D84B4;
  padding: 10px;
}

.pre-scrollable {
  max-height: 700px!important;
}

.row {
  margin: 0 15px;
}

.main-field, .tweaked-margin {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.facebook {
  color: #FFF;
  background-color: #3B5998;
  border-color: #6D84B4;
}

.leftline7 {
  border-left-width: 2px;
  border-left-style: solid;
}

.border {
  margin: 0px 0px 20px;
  padding: 7px 20px;
}

.article-submit {
  margin-top: 20px;
  > .btn {
    color: #FFF;
    background-color: #3B5998;
    border-color: #6D84B4;
  }
}

.alert {
  width: 80%;
  margin: 30px auto;
}

.preview-head {
  width: 50%;
  height: 40px;
  text-align: center;
}
