.self-introduction-area {
  width: 100%!important;
  height: 200px!important;
  border: solid 0.2em;
  border-color: #6D84B4;
  padding: 4px;
}

.mail-link a {
  color: black;
  text-decoration: none;
}

.account-show {
  max-width: 240px;
  min-width: 200px;
  margin: auto;
}

.account-image {
  width: 100%;
  max-width: 200px;
  min-width: 90px;
}

.input-large {
  width: 100%;
  margin: 1px!important;
}

.table-bordered {
  th {
    max-width: 120px;
  }
}
