.self-introduction-area {
  width: 90%!important;
  height: 200px!important;
  border: solid 0.2em;
  border-color: #6D84B4;
  padding: 4px;
}

.mail-link a {
  color: black;
  text-decoration: none;
}
