.right-elm {
  text-align: right;
}

.comment-area {
  width: 90%!important;
  height: 300px!important;
  border: solid 0.2em;
  border-color: #6D84B4;
  padding: 4px;
}

.article-title {
  padding: 10px 15px 2px;
  color: white;
  background-color: #3B5998;
}
