.right-elm {
  text-align: right;
}

.article-title {
  padding: 1px 10px 10px;
  color: white;
  background-color: #3B5998;
  text-align: center;
}

.CommentArea {
  width: 100%!important;
  height: 200px!important;
  padding: 4px;
}
