Copyright ©2014 ziita.jp.
<div>
  <%= link_to "Ziitaとは", [ :about, :ziita ], class: "btn btn-facebook" %>
  <%= link_to "お問い合わせ", [ :contact, :us ], class: "btn btn-inquiry" %>
  <%= link_to "利用規約", [ :term, :use ], class: "btn btn-inquiry" %>
  <%= render 'user/shared/share_button' %>
</div>
