<!-- Twitter -->
<a href="https://twitter.com/share?url=http://www.ziita.jp&text=ziitaはエンジニアのための技術共有サービスです。&hashtags=プログラミング,エンジニア"
  title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
